@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body{
    color: #0a2ff1;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    display: block;
    margin: auto;
    width: fit-content;
}
h1{
    font-weight: 700;
    font-size: 59pt;
    margin: auto;
}
h1 strong{
    background-color:#3ffff3;
}
p{
    font-weight: 500;
    font-size: 23pt;
}
div{
    background-image:url(./imagenes/fondo.JPG);
    width: 400px;    
}
img{
    height:640px
}